html, body {
  color: #ffffff;
  font-family: "Mulish", sans-serif;
    background-image: url("https://cdn.wallpapersafari.com/95/73/0mlLW1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header{
  display: flex;
  justify-content: center;
}
